<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Gestionar Posts</h1>
          <p class="lead text-muted">Autoriza los post de los usuarios</p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light" *ngIf="!cargando && posts.length > 0 ">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col" *ngFor="let posts of posts; let i = index">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="200"  class="w-80"
              src="{{
                'http://127.0.0.1:8000/posts/' + posts.foto
              }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                
              <div class="card-body">
                <p class="card-text">{{posts.descripcion}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="activar(posts)">Aceptar</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="rechazar(posts)" >Rechazar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>